# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
problem_1_1/problem_1_1.xcodeproj/xcuserdata/leehaw.xcuserdatad/xcschemes/xcschememanagement.plist
problem_1_1/problem_1_1.xcodeproj/xcuserdata/leehaw.xcuserdatad/xcschemes/problem_1_1.xcscheme
problem_1_1/problem_1_1.xcodeproj/project.xcworkspace/xcuserdata/leehaw.xcuserdatad/UserInterfaceState.xcuserstate
problem_1_1/problem_1_1/problem_1_1.1
problem_1_1/problem_1_1/problem_1_1.1
problem_1_1/problem_1_1.xcodeproj/project.pbxproj
problem_1_1/problem_1_1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
problem_1_2/problem_1_2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
problem_1_2/problem_1_2.xcodeproj/project.xcworkspace/xcuserdata/leehaw.xcuserdatad/UserInterfaceState.xcuserstate
problem_1_2/problem_1_2.xcodeproj/xcuserdata/leehaw.xcuserdatad/xcschemes/problem_1_2.xcscheme
problem_1_2/problem_1_2.xcodeproj/xcuserdata/leehaw.xcuserdatad/xcschemes/xcschememanagement.plist
